@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}

.city-card:hover {
    background-color: rgb(127, 127, 127);
}

.cities-list {
    z-index: 1;
}
